<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CommonType" value="MasterTour" />
    <add key="RedisHost" value="188.65.209.177" />
    <add key="MasterTourConnectionString" value="Server=online.viziteurope.eu; Database=sputnik2009; User ID=mn01;Password=price;Trusted_Connection=no" />
    <add key="ConnectionString" value="Server=online.viziteurope.eu; Database=sputnik2009; User ID=mn01;Password=price;Trusted_Connection=no" />
    <add key="AuthSalt" value="rt56yu78RT%^YU" />
    <add key="MySqlConnectionString" value="Server=localhost;Port=3306;Database=cat_staging;Uid=user;Pwd=termin;"/>
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>